{% extends 'layouts/dashboard/base.html' %}

{% load static %}

{% block content %}
<div class="col-md-12">
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">&#xE905;</i>
                </div>
                <div class="card-text">
                    <h4 class="card-title">REGISTRAR USUARIO</h4>
                    {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
                </div>
            </div>  
            <div class="card-body ">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Nombre de Usuario</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="text" class="form-control text-capitalize" name="username" id="id_username" {% if form.username.value %} value="{{form.username.value}}" {% endif %} placeholder="" required>
                            {% if form.username.help_text %}
                            <p class="help">{{ form.username.help_text|safe }}</p>
                        {% endif %}
                        {% if form.username.errors %}
                            <ul class="errorlist">
                                {% for error in form.username.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="text" class="form-control text-capitalize" name="first_name" id="first_name" {% if form.first_name.value %} value="{{form.first_name.value}}" {% endif %} placeholder="" required>
                            {% if form.first_name.help_text %}
                                <p class="help">{{ form.first_name.help_text|safe }}</p>
                            {% endif %}
                            {% if form.first_name.errors %}
                            <ul class="errorlist">
                                {% for error in form.first_name.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="text" class="form-control text-capitalize" name="last_name" id="id_last_name" {% if form.last_name.value %} value="{{form.last_name.value}}" {% endif %} placeholder="" required>
                            {% if form.last_name.help_text %}
                            <p class="help">{{ form.last_name.help_text|safe }}</p>
                        {% endif %}
                        {% if form.last_name.errors %}
                            <ul class="errorlist">
                                {% for error in form.last_name.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="id_email" {% if form.email.value %} value="{{form.email.value}}" {% endif %} placeholder="" required>
                            {% if form.email.help_text %}
                            <p class="help">{{ form.email.help_text|safe }}</p>
                        {% endif %}
                        {% if form.email.errors %}
                            <ul class="errorlist">
                                {% for error in form.email.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                        <label class="col-sm-2 col-form-label">Rango</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <select class="selectpicker" data-style="select-with-transition" name="rank" id="id_rank" required>
                                    {% for x,y in form.fields.rank.choices %}
                                    <option value="{{ x }}"{% if form.rank.value == x %} selected{% endif %} >
                                    {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {% if form.rank.help_text %}
                                    <p class="help">{{ form.rank.help_text|safe }}</p>
                                {% endif %}
                                {% if form.rank.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.rank.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="row">
                        <label class="col-sm-2 col-form-label">Tipo de usuario</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <select class="selectpicker" data-style="select-with-transition" name="user_type" id="id_user_type" required>
                                    {% for x,y in form.fields.user_type.choices %}
                                    <option value="{{ x }}"{% if form.user_type.value == x %} selected{% endif %} >
                                    {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {% if form.user_type.help_text %}
                                    <p class="help">{{ form.user_type.help_text|safe }}</p>
                                {% endif %}
                                {% if form.user_type.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.user_type.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="row">
                        <label class="col-sm-2 col-form-label">Unidad tactica</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <select class="selectpicker" data-style="select-with-transition" name="tactic_unit" id="id_tactic_unit" required>
                                    {% for x,y in form.fields.tactic_unit.choices %}
                                    <option value="{{ x }}"{% if form.tactic_unit.value == x %} selected{% endif %} >
                                    {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {% if form.tactic_unit.help_text %}
                                    <p class="help">{{ form.tactic_unit.help_text|safe }}</p>
                                {% endif %}
                                {% if form.tactic_unit.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.tactic_unit.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="password" class="form-control" name="password1" id="id_password1" {% if form.password1.value %}  value="{{form.password1.value}}" {% endif %} placeholder="" required>                        
                            {% if form.password1.help_text %}
                                <p class="help">{{ form.password1.help_text|safe }}</p>
                            {% endif %}
                            {% if form.password1.errors %}
                                <ul class="errorlist">
                                    {% for error in form.password1.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Confirmar Contraseña</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="password" class="form-control" name="password2" id="id_password2" {% if form.password2.value %}  value="{{form.password2.value}}" {% endif %} placeholder="" required>                        
                            {% if form.password2.help_text %}
                                <p class="help">{{ form.password2.help_text|safe }}</p>
                            {% endif %}
                            {% if form.password2.erros %}
                                <ul class="errorlist">
                                    {% for error in form.password2.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div> 
                        <div class="card-footer ml-auto mr-auto">
                            <button type="submit" class="btn btn-rose">Guardar</button>
                        </div>   
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </form>
</div>
</div>    

{% endblock content %}