{% extends 'layouts/dashboard/base.html' %}
{% load static %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<div class="row">
    <div class="btn-group btn-group-lg btn-block">
        <a href=" {% url 'index:graph_bar' %} ">
            <button type="button" class="btn btn-dark" disabled>Horas aeronaves</button>
        </a>
        <a href=" {% url 'index:graphic_pie_operational' %} ">
            <button type="button" class="btn btn-dark">Misiones operacionales</button>
        </a>
        <a href=" {% url 'index:graphic_pie_no_operational' %} ">
            <button type="button" class="btn btn-dark">Misiones no operacionales</button>
        </a>
    </div>
</div>

<hr>

<div class="btn-group btn-group-md btn-block">
    <a href=" {% url 'index:graph_bar' %} ">
        <button type="button" class="btn btn-dark">Por año</button>
    </a>
    <a href=" {% url 'index:graph_bar_battalion' %} ">
        <button type="button" class="btn btn-dark" >Por Batallon</button>
    </a>
    <a href=" {% url 'index:graph_bar_aircraft_model_hours' %} ">
        <button type="button" class="btn btn-dark" disabled>Por equipo</button>
    </a>
</div>

<div id="container"></div>
<div id="container2"></div>
<script>


    const data = JSON.parse('{{data}}');
    // console.log(data);

    var chart = Highcharts.chart('container', {

        chart: {
            type: 'column'
        },
        title: {
            text: 'HORAS DE AERONAVE DEL EJERCITO NACIONAL DE COLOMBIA'
        },
        subtitle: {
            text: 'Comparación de horas voladas y horas asignadas del ejercito por Equipo'
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} hrs</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        xAxis: {
            categories: JSON.parse('{{aircraft_models}}'),
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Horas (hrs)'
            }
        },
        series: data,
        exporting: {
            allowHTML: false
        }
    });

    const data2 = JSON.parse('{{data2}}');
    // console.log(data);

    var chart = Highcharts.chart('container2', {

        chart: {
            type: 'column'
        },
        title: {
            text: 'HORAS DE AERONAVE DEL EJERCITO NACIONAL DE COLOMBIA'
        },
        subtitle: {
            text: 'Comparación de horas voladas, horas asignadas, horas operacionales y no operacionales del ejercito por Equipo'
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} hrs</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        xAxis: {
            categories: JSON.parse('{{aircraft_models}}'),
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Horas (hrs)'
            }
        },
        series: data2,
        exporting: {
            allowHTML: false
        }
    });

</script>
{% endblock content %}