{% extends 'layouts/dashboard/base.html' %}
{% load static %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<div class="row">
    <div class="btn-group btn-group-lg btn-block">
        <a href=" {% url 'index:graph_bar' %} ">
            <button type="button" class="btn btn-dark" disabled>Horas aeronaves</button>
        </a>
        <a href=" {% url 'index:graphic_pie_operational' %} ">
            <button type="button" class="btn btn-dark">Misiones operacionales</button>
        </a>
        <a href=" {% url 'index:graphic_pie_no_operational' %} ">
            <button type="button" class="btn btn-dark">Misiones no operacionales</button>
        </a>
    </div>
</div>

<hr>

<div class="btn-group btn-group-md btn-block">
    <a href=" {% url 'index:graph_bar' %} ">
        <button type="button" class="btn btn-dark" disabled>Por año</button>
    </a>
    <a href=" {% url 'index:graph_bar_battalion' %} ">
        <button type="button" class="btn btn-dark">Por batallon</button>
    </a>
    <a href=" {% url 'index:graph_bar_aircraft_model_hours' %} ">
        <button type="button" class="btn btn-dark">Por equipo</button>
    </a>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-dark btn-md dropdown-toggle" data-toggle="dropdown">Años</button>
    <div class="dropdown-menu">
        {% for year in years %}
            <a id='{{year}}' class="dropdown-item">{{year}}</a>
        {% endfor %}
    </div>
</div>

<!-- <div class='buttons'>
    {% for year in years %}
    <button id='{{year}}'>
        {{year}}
    </button>
    {% endfor %}
</div> -->
<div id="container"></div>
<script>


    const data = JSON.parse('{{data}}');
    // console.log(data);

    function getData(data, year) {
        var clonedData = { ...data };
        return clonedData[year];
    }

    var chart = Highcharts.chart('container', {

        chart: {
            type: 'column'
        },
        title: {
            text: 'HORAS DE AERONAVE DEL EJERCITO NACIONAL DE COLOMBIA'
        },
        subtitle: {
            text: 'Comparación de horas voladas y horas asignadas del ejercito - Año ' + {{ first_year }}
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} hrs</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        xAxis: {
            categories: [
                'Ene',
                'Feb',
                'Mar',
                'Abr',
                'May',
                'Jun',
                'Jul',
                'Ago',
                'Sep',
                'Oct',
                'Nov',
                'Dic'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Horas (hrs)'
            }
        },
        series: getData(data, {{ first_year }}),
        exporting: {
            allowHTML: false
        }
    });
    // console.log(data);

    var years = {{ years }};

    years.forEach(function (year) {
        var btn = document.getElementById(year);

        btn.addEventListener('click', function () {
            const data = JSON.parse('{{data}}');
            // document.querySelectorAll('.buttons button.active').forEach(function (active) {
            //     active.className = '';
            // });
            // btn.className = 'active';

            chart.update({
                title: {
                    text: 'HORAS DE AERONAVE DEL EJERCITO NACIONAL DE COLOMBIA'
                },
                subtitle: {
                    text: 'Comparación de horas voladas y horas asignadas del ejercito - Año ' + year
                },
                series: getData(data, year),
            }, true, false, {
                duration: 800
            });
        });
    });

</script>
{% endblock content %}