{% extends 'layouts/dashboard/base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-12">
        <form method="post"enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">airline_seat_recline_normal</i>
                    </div>
                    <div class="card-text">
                        <h4 class="card-title">REGISTRAR MODELO DE AERONAVE</h4>
                        {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                            <li><strong class="text-danger">{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    </div>
                </div>  
                <div class="card-body ">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="id_name" {% if form.name.value %} value="{{form.name.value}}" {% endif %} placeholder="" required>
                                {% if form.name.help_text %}
                                <p class="help">{{ form.name.help_text|safe }}</p>
                            {% endif %}
                            {% if form.name.errors %}
                                <ul class="errorlist">
                                    {% for error in form.name.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Tipo de aeronave</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <select class="form-control" name="air_craft_type" id="id_air_craft_type" required>
                                    {% for x,y in form.fields.air_craft_type.choices %}
                                    <option value="{{ x }}"{% if form.air_craft_type.value == x %} selected{% endif %} >
                                    {{ y }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {% if form.air_craft_type.help_text %}
                                    <p class="help">{{ form.air_craft_type.help_text|safe }}</p>
                                {% endif %}
                                {% if form.air_craft_type.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.air_craft_type.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-rose">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock content %}
