{% extends 'layouts/dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12">
    <form id="create_aicraft_model" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">airplanemode_active</i>
                </div>
                <div class="card-text">
                    <h4 class="card-title">REGISTRAR MODELO DE AERONAVE</h4>
                    {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="id_name" {% if form.name.value %}
                                value="{{form.name.value}}" {% endif %} placeholder="" required>
                            {% if form.name.help_text %}
                            <p class="help">{{ form.name.help_text|safe }}</p>
                            {% endif %}
                            {% if form.name.errors %}
                            <ul class="errorlist">
                                {% for error in form.name.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Tipo de aeronave</label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <select class="form-control" name="air_craft_type" id="id_air_craft_type" required>
                                {% for x,y in form.fields.air_craft_type.choices %}
                                <option value="{{ x }}" {% if form.air_craft_type.value == x %} selected{% endif %}>
                                    {{ y }}
                                </option>
                                {% endfor %}
                            </select>
                            {% if form.air_craft_type.help_text %}
                            <p class="help">{{ form.air_craft_type.help_text|safe }}</p>
                            {% endif %}
                            {% if form.air_craft_type.errors %}
                            <ul class="errorlist">
                                {% for error in form.air_craft_type.errors %}
                                <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <p class="card-title text-danger">Debes seleccionar al menos uno de los siguientes roles de tripulación:</p>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Piloto al Mando</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_pam" id="id_has_pam" type="checkbox"
                                    {% if form.has_pam.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_pam.help_text %}
                                <p class="help">{{ form.has_pam.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_pam.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_pam.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Piloto</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_pilot" id="id_has_pilot" type="checkbox"
                                    {% if form.has_pilot.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_pilot.help_text %}
                                <p class="help">{{ form.has_pilot.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_pilot.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_pilot.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Ingeniero de Vuelo</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_flight_engineer" id="id_flight_engineer"
                                    type="checkbox" {% if form.has_flight_engineer.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_flight_engineer.help_text %}
                                <p class="help">{{ form.has_flight_engineer.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_flight_engineer.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_flight_engineer.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Jefe de Tripulación</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_crew_chief" id="id_crew_chief" type="checkbox"
                                    {% if form.has_crew_chief.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_crew_chief.help_text %}
                                <p class="help">{{ form.has_crew_chief.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_crew_chief.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_crew_chief.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Técnico de Vuelo</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_flight_technician" id="id_flight_technician"
                                    type="checkbox" {% if form.has_flight_technician.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_flight_technician.help_text %}
                                <p class="help">{{ form.has_flight_technician.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_flight_technician.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_flight_technician.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Artillero</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_gunner" id="id_gunner" type="checkbox"
                                    {% if form.has_gunner.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_gunner.help_text %}
                                <p class="help">{{ form.has_gunner.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_gunner.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_gunner.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Comandante</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_commander" id="id_commander" type="checkbox"
                                    {% if form.has_commander.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_commander.help_text %}
                                <p class="help">{{ form.has_commander.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_commander.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_commander.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Operador de Misión</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_mission_operator" id="id_has_mission_operator"
                                    type="checkbox" {% if form.has_mission_operator.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_mission_operator.help_text %}
                                <p class="help">{{ form.has_mission_operator.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_mission_operator.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_mission_operator.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Operador de Vehículo</label>
                    <div class="col-sm-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input crew" name="has_vehicle_operator" id="id_has_vehicle_operator"
                                    type="checkbox" {% if form.has_vehicle_operator.value %} checked {% endif %}>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                {% if form.has_vehicle_operator.help_text %}
                                <p class="help">{{ form.has_vehicle_operator.help_text|safe }}</p>
                                {% endif %}
                                {% if form.has_vehicle_operator.errors %}
                                <ul class="errorlist">
                                    {% for error in form.has_vehicle_operator.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-rose">Guardar</button>
                </div>
            </div>
    </form>
</div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        //form submit handler
        $('#create_aicraft_model').submit(function (e) {
            //check atleat 1 checkbox is checked
            if (!$('.crew').is(':checked')) {
                //prevent the default form submit if it is not checked
                e.preventDefault();
            }
        })
    });
</script>
{% endblock js %}