{% load static %}
{% block content %}

<div>
    <table style="width:100%;">
        <tr>
            <th><img src="{{image}}" alt="" style="width:50px;height:60px;"></th>
            <th style="width:50%;" >MINISTERIO DEFENSA NACIONAL<br>
                COMANDO  GENERAL FUERZAS MILITARES DE COLOMBIA<br>
                EJERCITO NACIONAL<br>
                BRIGADA DE AVIACION No. 33 MOVILIDAD Y MANIOBRA</th>
            <th><img src="{{image2}}" alt="" style="width:60px;height:60px;"></th>
        </tr>
    </table>
    <br><br>
</div>

<h1 style="text-align: center;">PARTE DE AERONAVES ASIGNADAS AL DISPOSITIVO OPERACIONAL</h1> 
<br>
<div>
    <p style="text-align: right; ">{{format}}</p>
</div>
<div>
    {% for aircraft_model_name, flight_reports  in aircraft_models_dict.items %}
    <h2>{{aircraft_model_name}}</h2>
    <table style="vertical-align:middle" border='1px' cellpadding="2">
        <thead >
            <tr>
                <th style="text-align: center;" width="10%" rowspan="2">UNIDAD TÁCTICA</th>
                <th style="text-align: center;" width="11%" rowspan="2">UNIDAD APOYADA</th>
                <th style="text-align: center;" width="13%" rowspan="2">MATRICULA</th>
                <th style="text-align: center;" width="10%" rowspan="2">ESTADO AERONA.</th>
                <th style="text-align: center;" width=""    colspan="6">HORAS DE MANTENIMIENTO</th>
                <th style="text-align: center;" width="13%" rowspan="2">UBICACIÓN</th>
                <th style="text-align: center;" width="18%" rowspan="2">OBSERVACIONES</th>
            </tr>
            <tr>
                <td style="text-align: center;" width="10%">PROX INS</td>
                <td style="text-align: center;" width="10%">TIPO INSP</td>
                <td style="text-align: center;" width="10%">ASIG</td>
                <td style="text-align: center;" width="10%">REASIG</td>
                <td style="text-align: center;" width="10%">VOL</td>
                <td style="text-align: center;" width="10%">DISP</td>
            </tr>
        </thead>
        <tbody>
            {% for flightreport in flight_reports  %}
                <tr>
                    
                    <td style="text-align: center;">{{flightreport.aviation_unit.abbreviation}}</td>

                    <td style="text-align: center;">{{flightreport.supported_unit.abbreviation}}</td>

                    <td style="text-align: center;">{{flightreport.aircraft.enrollment}}</td>

                    {% if flightreport.aircraft.aircraft_status == 'ACL' %}
                        <td style="background-color: forestgreen; text-align: center;">
                            {{flightreport.aircraft.aircraft_status}}</td>
                    {% elif flightreport.aircraft.aircraft_status == 'LRM' or 'LRA' or 'NLA' or 'MMP' or 'AMO' or 'AMR' or 'ACC' %}
                        <td style="background-color: rgb(250, 243, 47); text-align: center;">
                            {{flightreport.aircraft.aircraft_status}}</td>
                    {% elif flightreport.aircraft.aircraft_status == 'AMI' or 'AMP' or 'AVP' %}
                        <td style="background-color: rgb(241, 49, 49); text-align: center;">
                            {{flightreport.aircraft.aircraft_status}}</td>
                    {% elif flightreport.aircraft.aircraft_status == 'EVA' or 'PAR' or 'ABP' or 'APA' %}
                        <td style="background-color: rgb(54, 111, 253); text-align: center;">
                            {{flightreport.aircraft.aircraft_status}}</td>
                    {% else %}
                        <td style="text-align: center;">{{flightreport.aircraft.aircraft_status}}</td>
                    {% endif %}

                    <td style="text-align: center;">{{flightreport.aircraft.next_inspection_hours}}</td>
                    <td style="text-align: center;">{% if flightreport.aircraft.type_inspection %}{{flightreport.aircraft.type_inspection}}{% else %}---{% endif %}</td>
                    <td style="text-align: center;">{{flightreport.aircraft.assigned_hours}}</td>
                    <td style="text-align: center;">{{flightreport.aircraft.re_asign}}</td>
                    <td style="text-align: center;">{{flightreport.aircraft.total_hours}}</td>

                    {% if flightreport.aircraft.hours_available <= 4 %}
                        <td style="text-align: center;">
                            <img src="{{image3}}" alt=""> &nbsp;&nbsp;
                            {{flightreport.aircraft.hours_available}}</td>
                    {% elif flightreport.aircraft.hours_available <= 9 %}
                        <td style="text-align: center;">
                            <img src="{{image4}}" alt=""> &nbsp;&nbsp;
                            {{flightreport.aircraft.hours_available}}</td>
                    {% else %}
                        <td style="text-align: center;">
                            <img src="{{image5}}" alt=""> &nbsp;&nbsp;
                            {{flightreport.aircraft.hours_available}}</td>
                    {% endif %}

                    <td style="text-align: center;">{{flightreport.municipality.name}}</td>
                    <td style="text-align: center;">{% if flightreport.observations %}{{flightreport.observations}}{% else %}---{% endif %}</td>
                </tr> 
            {% endfor %}                                      
        </tbody>
    </table>
    {% endfor %} 
</div>

{% endblock content %}


