{% extends 'layouts/dashboard/base.html' %}
{% load static %}

{% block content %}

    <div class="col-md-12">
        <form method="post"enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">airline_seat_recline_normal</i>
                    </div>
                    <div class="card-text">
                        <h4 class="card-title">REGISTRAR CONVENIO</h4>
                        {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                            <li><strong class="text-danger">{{ error|escape }}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    </div>
                </div>  
                <div class="card-body ">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input type="text" class="form-control" name="agreement_name" id="id_agreement_name" {% if form.agreement_name.value %} value="{{form.agreement_name.value}}" {% endif %} placeholder="" required>
                                {% if form.agreement_name.help_text %}
                                <p class="help">{{ form.agreement_name.help_text|safe }}</p>
                            {% endif %}
                            {% if form.agreement_name.errors %}
                                <ul class="errorlist">
                                    {% for error in form.agreement_name.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Abreviatura</label>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input type="text" class="form-control" name="abbreviation" id="id_abbreviation" {% if form.abbreviation.value %} value="{{form.abbreviation.value}}" {% endif %} placeholder="" required>
                                {% if form.abbreviation.help_text %}
                                <p class="help">{{ form.abbreviation.help_text|safe }}</p>
                            {% endif %}
                            {% if form.abbreviation.errors %}
                                <ul class="errorlist">
                                    {% for error in form.abbreviation.errors %}
                                    <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 col-form-label">¿Está activo?</label>
                        <div class="col-sm-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="status" id="id_status" type="checkbox"
                                        {% if form.status.value %} checked {% endif %}>
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                    {% if form.status.help_text %}
                                    <p class="help">{{ form.status.help_text|safe }}</p>
                                    {% endif %}
                                    {% if form.status.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.status.errors %}
                                        <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-rose">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock content %}
